.tasks {
  margin: 32px 0;

  .main_content {
    height: calc(100vh - 64px);
    min-height: 550px;
    background-color: #d5dfe8;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 3px 0px 13px 5px rgb(230, 221, 230);

    .container_filters {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
    }

    .no_tasks_message {
      margin-top: 20px;
      font-size: 18px;
      color: #777;
      font-style: italic;
    }
  }

  .image_content {
    height: calc(100vh - 64px);
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .user_area {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 18px;
        margin-left: 20px;
        margin-bottom: 0;
      }

      button {
        align-self: flex-end;
        padding: 8px 16px;
        background-color: transparent;
        border: 1px solid #112142;
        border-radius: 5px;
        color: #112142;
        font-size: 16px;
        font-weight: 500;
      }

      button:hover {
        background-color: #112142;
        color: #f6f6ec;
      }
    }

    .copyright {
      font-size: 12px;

      a {
        color: #0066cc;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 767px) {
  .row {
    flex-direction: column-reverse;
  }
}
