.container_input {
  display: flex;
  gap: 8px;

  input {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 400px;
    outline: none;
    font-size: 16px;
  }

  button {
    padding: 16px;
    border: none;
    background-color: #112142;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .container_input input {
    max-width: 227px;
  }
}
