.overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.61);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;

  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;

    input {
      width: 100%;
      padding: 8px;
      margin-top: 12px;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 16px;
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;

      .confirm {
        background-color: #112142;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      .cancel {
        background-color: transparent;
        color: #000;
        padding: 10px 20px;
        border: 1px solid #000;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
