header {
  .container {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    gap: 15px;

    span {
      font-size: 36px;
      font-weight: 800;
      color: #5ba967;
    }
  }
}

@media (max-width: 767px) {
  header .container {
    margin-bottom: 18px;
  }
}
