.filter_controls {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  select,
  input {
    padding: 16px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
  }
}
