.filter_controls {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;

  select,
  input {
    padding: 16px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
  }
}

@media (max-width: 767px) {
  .filter_controls {
    width: 100%;
    margin-bottom: 20px;
    justify-content: end;
  }
}
